.tagName {
    font-family: "Montserrat", sans-serif;
    height: 20px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 40px;
    margin: 10px 10px 0 0;
}

@media screen and (max-width:375px) {
    .tagName {
        height: 40px;
        font-size: 25px;
    }
}
