h4 {
    font-size: 120px;
    font-weight: 800;
    /* font-family: "Montserrat", sans-serif; */
}

.page404 {
    text-align: center;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
}

.page404 p {
    font-size: 36px;
}

.backToHomeLink {
    font-size: 18px;
    text-decoration: underline;
}

@media screen and (max-width:375px) {
    .page404 {
        width: 120%;
        margin-left: 350px;
    }
  }