.section_dropdowns {
    max-width: 1240px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.dropdown {
    margin: 50px 0;
}


.dropdown_header {
    height: 52px;
    width: 100%;
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    border-radius: 5px;
    margin-bottom: 25px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.p_dropdown {
    color: #FF6060;
    animation: display 0.5s ease;
}

.p_dropdown ul {
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width:430px) {
    .dropdown {
        margin: 20px 0 0 0;
    }
    h3 {
        font-size: 13px;
    }
    .dropdown_header {
        height: 30px;
    }
    .dropdown_header img {
        width: 15px;
        height: 9px;
    }
    .dropdown p,
    .dropdown ul {
        font-size: 12px;
        padding: 25px 7px 25px 11px;
    }
  }
