header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 350px;
    font-family: "Montserrat", sans-serif;
}

nav {
    font-size: 30px;
    color: #FF6060;
    text-wrap:nowrap;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #FF6060;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding-left: 70px;
}

nav li :hover {
    text-decoration: underline;
}

.active {
    text-decoration-line: underline;
}

@media screen and (max-width:1335px) and (min-width:376px)  {
    header {
        width: 100%;
        width: 1024px;
    }
    nav {
        text-wrap: nowrap;
    }
}

@media screen and (max-width:375px) {
    header {
        margin: 0;
        margin-left: 70px;
        padding: 0;
        padding-top: 50px;
        width: 800px;
        justify-content: space-between;
    }
    header img {
        width: 300px;
    }
    nav li {
        text-wrap: nowrap;
        font-size: 40px;
    }
  }




