@media screen and (max-width:375px) {
    .about {
        align-items: center;
        width: 100%;
        width: 570px;
    }
    .about_banner {
        width: 100%;
        width: 800px;
        margin-left: 150px;
    }
    .about_collapse {
        width: 473px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-left: 70px;
    }
  }