@media screen and (max-width:375px) {
    .about {
        align-items: center;
        width: 100%;
        width: 570px;
    }
    .about_banner {
        width: 100%;
        width: 950px;
        margin-left: 100px;
    }
    .about_collapse {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
  }