body {
  margin: 0 auto;
}
  
a{
  color: inherit;
  text-decoration: none;
}

.locations {
  max-width: 1240px;
  border-radius: 25px;
  background-color: #F6F6F6;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 90px;
  grid-row-gap: 50px;
  margin: 43px 0;
  padding: 50px;
  margin-left: 280px;
  margin-top: 50px;
}

@media screen and (max-width:375px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .home {
    width: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
  }
  .locations {
    grid-template-columns: 1fr;
    border-radius: 0;
    background-color: transparent;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    padding: 0;
    margin: 20px 0;
  }
}