h1, h2 {
    color: #FF6060;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.log_title {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

.logement_section {
    margin: 0 auto;
    width: 100%;
    /* padding: 0 350px; */
}

.logement_description {
    display: flex;
    justify-content: space-between;
}

.logement_first {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logement_second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
}

.log_location {
    /* padding-left: 200px; */
    padding-right: 15px;
    font-size: 18px;
    font-weight: 100;
    padding-right: 10px;
}


.logement_details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
    margin: 50px 0 0 0;
}

.logement_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
}

.logement_host {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
    padding-bottom: 25px;
}

.logement_host img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.host_details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 25px; */
    margin-top: 45px;
}

.host_name {
    font-weight: lighter;
    padding-right: 10px;
}

.logement_collapse {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; */
    width: 100%;
    /* max-width: 1240px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin-top: 20px;
}

.logement_collapse .section_dropdowns {
    width: 50%;
}

.logement_rating {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* margin-top: 15px; */
    margin-bottom: 10px;
}

@media screen and (max-width:375px) {
    body {
      margin-left: 20px;
      margin-right: 20px;
    }
    .logement_section {
        width: 100%;
        width: 950px;
        margin-left: 70px;
    }
    .logement_description {
        flex-direction: column;
    }
    .logement_second {
        flex-direction: row-reverse;
    }
    .logement_rating {
        padding-top: 65px;
    }
    .logement_collapse {
        flex-direction: column;
        gap: 30px;
    }
    .log_title {
        font-size: 50px;
    }
    .log_location {
        font-size: 25px;
    }
    .host_name {
        font-size: 25px;
    }
  }

@media screen and (max-width:1335px) and (min-width:375px) {
    .logement_section {
        width: 100%;
        width: 1024px;
        padding: 0 350px;
    }
}